
<div class="content" role="main">

        <!-- Resources -->
        <h2>Lista de Algoritmos</h2>
        <p>Seleccione el algoritmo que desea usar:</p>

        <div class="card-container">

          <a class="card" routerLink="/floyd" data-toggle="tooltip" data-placement="top" title="Algoritmo de Floyd: Se encarga de recorrer un grafo para determinar cuál es el camino más corto para ir de punto A a punto B">
            <svg class="material-icons" xmlns="http://www.w3.org/1600/svg" width="16" height="16" viewBox="0 0 16 16"></svg>
            <span>Rutas más cortas</span>
            <svg class="material-icons" xmlns="http://www.w3.org/1600/svg" width="16" height="16" viewBox="0 0 16 16"></svg>
          </a>

          <a class="card" routerLink="/mochila" data-toggle="tooltip" data-placement="top" title="Problema de la Mochila: Este algoritmo ayuda a resolver el tan conocido problema,donde se tiene una mochila con x capacidad y se quiere aprovechar al máximo su capacidad de acuerdo a los artículos que tenemos a disposición">
            <svg class="material-icons" xmlns="http://www.w3.org/1600/svg" width="16" height="16" viewBox="0 0 16 16"></svg>
            <span>Problema de la Mochila</span>
            <svg class="material-icons" xmlns="http://www.w3.org/1600/svg" width="16" height="16" viewBox="0 0 16 16"></svg>
          </a>

          <a class="card" routerLink="/reemplazo" data-toggle="tooltip" data-placement="top" title="Reemplazo de Equipos: Busca encontrar cuál es el plan óptimo de reemplazo de cualquier equipo determinado">
            <svg class="material-icons" xmlns="http://www.w3.org/1600/svg" width="16" height="16" viewBox="0 0 16 16"></svg>
            <span>Reemplazo de Equipos</span>
            <svg class="material-icons" xmlns="http://www.w3.org/1600/svg" width="16" height="16" viewBox="0 0 16 16"></svg>
          </a>

          <a class="card" routerLink = "/series" target="_blank" rel="noopener" href="https://blog.angular.io/">
            <svg class="material-icons" xmlns="http://www.w3.org/1600/svg" width="16" height="16" viewBox="0 0 16 16"></svg>
            <span>Series Deportivas</span>
            <svg class="material-icons" xmlns="http://www.w3.org/1600/svg" width="16" height="16" viewBox="0 0 16 16"></svg>
          </a>

          <a class="card" routerLink = "/arboles" data-toggle="tooltip" data-placement="top" title="Árboles binarios de búsqueda:">
            <svg class="material-icons" xmlns="http://www.w3.org/1600/svg" width="16" height="16" viewBox="0 0 16 16"></svg>
            <span>Árboles Binarios de Búsqueda Óptimos </span>
            <svg class="material-icons" xmlns="http://www.w3.org/1600/svg" width="16" height="16" viewBox="0 0 16 16"></svg>
          </a>

          <a class="card"  routerLink="/matrices" data-toggle="tooltip" data-placement="top" title="Multiplicación de matrices: Ayuda a encontrar cuál es la forma óptima(menor cantidad de multiplicaciones) de realizar la multiplicación de n matrrices dadas.">
            <svg class="material-icons" xmlns="http://www.w3.org/1600/svg" width="16" height="16" viewBox="0 0 16 16"></svg>
            <span>Multiplicación de Matrices</span>
            <svg class="material-icons" xmlns="http://www.w3.org/1600/svg" width="16" height="16" viewBox="0 0 16 16"></svg>
          </a>
        </div>
</div>
